
/*    GENERAL    */

.container {
  max-width: 1140px;
}

a {
  outline: 0;
}

.main-spacing {
  margin: 30px 0;
}


/*    TAB PANE    */

.tab-content,
.manager-panel {
  padding: 20px;
  background: #fff;
  border: 1px solid #dee2e6;
  border-top: none;

  .table {
    margin: 10px 0 0 0;
    min-width: 400px;

    td.actions {
      width: min-content;
    }
  }
}
.manager-panel {
  border: 1px solid #dee2e6;
}


/*    TABLE    */

@media all and (max-width: 1140px) {
  td.actions {
    width: min-content;

    a {
      width: 100%;
      max-width: 180px;
      margin-bottom: 3px;
    }
  }
}
@media all and (max-width: 450px) {
  td.actions {
    width: auto !important;

    a {
      width: 35px;

      span {
        display: none;
      }
    }
  }
}

/*    FORMS    */
form {
  .text-muted {
    font-size: 80%;
  }
}
