form {
  margin-block-end: 0;
}

.cursor-default, .cursor-default * {
  cursor: default;
}
.cursor-text {
  cursor: text;
}

[data-gjs-type].gjs-comp-selected {
  outline: 2px solid #3b97e3 !important;
  outline-offset: 1px !important;
}
div[data-gjs-type].gjs-comp-selected {
  outline: 2px solid #3b97e3 !important;
  outline-offset: -2px !important;
}
[phpb-content-container],
[phpb-blocks-container] {
  min-height: 100px;
  width: 100%;
}

html,
body {
  ::-webkit-scrollbar {
    width: 11px;
    height: 11px;
  }
  ::-webkit-scrollbar-track {
    background: #f5f5f5;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #ccc;

    &:hover {
      background-color: #bbb;
    }
  }
}
