html, body {
  overflow-x: initial !important;
}
form {
  margin-block-end: 0;
}

[data-cursor="default"] {
  cursor: default;
}
[data-cursor="text"] {
  cursor: text;
}
span[draggable="true"] {
  display: inline-flex;
}
[phpb-hide-if-not-editable] {
  background: #fde3c17d;
  border: 1px dashed #b98e577d;
  padding: 7px;
  font-size: 1.1rem;
  font-style: italic;
  font-weight: normal;
  text-align: center;
  color: #5e5e5e;

  &:not(.editable) {
    display: none;
  }
}

[data-gjs-type].gjs-comp-selected {
  outline: 1px solid #0091d1 !important;
  outline-offset: 0 !important;
}
div[data-gjs-type].gjs-comp-selected {
  outline: 1px solid #0091d1 !important;
  outline-offset: -1px !important;
}
[phpb-content-container],
[phpb-blocks-container] {
  min-height: 50px;
  width: 100%;
}
[phpb-blocks-container] {
  border: 1px dashed #0091d1;
}

html,
body {
  ::-webkit-scrollbar {
    width: 11px;
    height: 11px;
  }
  ::-webkit-scrollbar-track {
    background: #f5f5f5;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #ccc;

    &:hover {
      background-color: #bbb;
    }
  }
}

.gjs-waiting {
  opacity: 0.5;
  pointer-events: none;
}
